<%- include("partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/courses"> Courses </a></li>
    </ul>
    <ul>
      <li><a href="/courses/new">Edit </a></li>
    </ul>
  </div>

  <div id="courses_container">
      <div class="course">
        <a href="/courses/newGrade">
          <i class="fas fa-plus-circle"></i>New Grade
        </a>
        <form action="/courses/<%= course._id %>?_method=PUT" method="POST">
          <div>
            <label>Course Name</label>
          </div>
          <input type="text" name="course[name]" value="<%= course.name %>">
          
          <div>
            <label>Course Grade</label>
          </div>
          <input type="text" name="course[courseGrade]" value="<%= course.courseGrade %>">
    
          <input type="submit">
        </form>
      </div>  
  </div>
</main>




<%- include("partials/footer.ejs") %> 
