<%- include("../partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/"> Semesters </a></li>
    </ul>
    <ul>
      <li><a  id="edit" href="#">Edit </a></li>
      <li><a class="hidden" href="/semesters/<%=semester._id%>/courses">Done </a></li>
    </ul>
  </div>

  <section>
    <div class="hidden">
      <a href="/semesters/<%=semester._id%>/courses/new">
        <i class="fas fa-plus-circle"></i>New Course
      </a>
    </div>
  </section>

  <div id="courses_container">
    <% semester.courses.forEach((course)=>{ %>

      <!-- Delete Button -->
      <div class="hide hidden">
        <form action="/semesters/<%= semester._id%>?_method=DELETE" method="POST">
          <button>
            <i class="fas fa-minus-circle"></i>
          </button>
        </form>
      </div>

      <!-- Card -->
    <a class="courseInfo" href="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades">
      <div class="card">
        
        <div>
          <p class="course_name">
            <i class="fas fa-school"></i> 
            <%= course.name %>
          </p>
          <p><span><%= course.courseGrade %> </span> % </p>  
        </div>
      </div>
    </a>  

      <!-- Edit a Course -->
      <div class="hide hidden" id="courses_container">
        <form class="hide hidden" action="/semesters/<%=semester._id%>/courses/<%=course._id%>?_method=PUT" method="POST">
          <input type="text"  name="course[name]" value="<%= course.name%>">
          <input type="number"  name="course[courseGrade]" value="<%= course.courseGrade%>">
          <input type="submit">
        </form>
      </div>

      
    <% }) %>
  </div>
</main>

<script>
  let edit = document.querySelector("#edit");
  let hidden = document.querySelectorAll(".hidden");
  let courseInfo = document.querySelectorAll(".courseInfo");

  edit.addEventListener("click", ()=>{
    hidden.forEach((element)=>{
      element.classList.remove("hidden");
    })

    edit.classList.add("hidden");

    courseInfo.forEach((course)=>{
    course.classList.add("unclickable");
    })
  });

</script>




<%- include("../partials/footer.ejs") %> 
