<%- include("partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/"> Semesters </a></li>
    </ul>
    <ul>
      <li><a href="/courses/new">Edit </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <% courses.forEach((course)=>{ %>

      <div>
        <a class="card" href="/courses/<%= course._id%>">
          <p class="course_name">
            <i class="fas fa-school"></i> 
            <%= course.name %>
          </p> 
          <p><span><%= course.courseGrade %> </span> % </p> 
      </a>
      </div>
      
    <% }) %>
  </div>
</main>




<%- include("partials/footer.ejs") %> 
