<%- include("partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/"> Semesters </a></li>
    </ul>
    <ul>
      <li><a href="/courses">Done </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <a href="/courses/newCourses">
      <i class="fas fa-plus-circle"></i>New Semester
    </a>

    <% semesters.forEach((semester)=>{ %>
      <div class="course card">

        <div>
          <form action="/courses/<%= semester._id%>?_method=DELETE" method="POST">
            <button><i class="fas fa-minus-circle"></i></button>
          </form>
        </div>
        
        <div>
          <p >
            <%= semester.name %> <%= semester.year %>
          </p>
        </div>
        
      </div>
      <hr>
    <% }) %>
  </div>
</main>




<%- include("partials/footer.ejs") %> 
