<%- include("partials/header.ejs") %> 

<h1>Grade Tracker</h1>

<main>
  <div id="container_nav">
    <ul>
      <li><a href="#"> Courses </a></li>
    </ul>
    <ul>
      <li><a href="/courses/<%= course._id %>/edit">Edit </a></li>
    </ul>
  </div>

  <div id="courses_container">
      <div class="course">
        <div>
          <p><%= course.name %></p>
        </div>
        <div>
          <p>Current Grade</p>
          <p><%= course.courseGrade %> %</p>
        </div>
      </div>  
  </div>
</main>




<%- include("partials/footer.ejs") %> 
