<%- include("../partials/header.ejs") %> 


<main>
  <div class="container_nav">
    <ul>
      <li><a href="/semesters/<%=semester._id%>/courses"> Courses </a></li>
    </ul>
    <ul>
      <li><a id="edit" href="#">Edit</a></li>
      <li><a class="hidden" href="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades">Done </a></li>
    </ul>
  </div>

  <section>
    <div class="hidden">
      <a href="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades/new">
        <i class="fas fa-plus-circle"></i>New Grade
      </a>
    </div>
  </section>

  </div>

  <!-- Calculate Current Grade -->
  <% let totalGrade = 0 %>

  <div class="current_grade">
    <% for(let i = 0; i < course.grades.length; i++){ %>
      <% totalGrade += course.grades[i].grade %>
      
    <% } %>
    <% totalGrade = totalGrade / course.grades.length %>
    <p>Current Grade: <%= totalGrade %></p>
  </div>

  <div class="target_grade">
    <p>Target Grade</p>
  </div>

  <!-- ====== CONTAINER ====== -->
  <div id="courses_container">
    <% course.grades.forEach((grade)=>{ %>
      <% console.log("======= GRADE ======") %>
      <% console.log(grade) %>

      <div class="card">
        <div class="hide hidden">
          <form action="" method="POST">
            <button>
              <i class="fas fa-minus-circle"></i>
            </button>
          </form>
        </div>
        <div>
          <p class="course_name"> <i class="fas fa-school"></i> <%= grade.assignmentName %></p>
        </div>
        <div>
          <p><%= grade.grade %> %</p>
        </div>


      <!-- === UPDATE === Edit a Grade -->
      <div class="hide hidden" id="courses_container">
        <form class="hide hidden" action="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades/<%=grade._id%>?_method=PUT" method="POST">
          <input type="text"  name="grade[assignmentName]" value="<%= grade.assignmentName%>">
          <!-- change to grade.weight -->
          <input type="number"  name="grade[grade]" value="<%= grade.grade%>">
          <input type="submit">
        </form>
      </div>


    <% }) %>
  </div>
</main>

<script>
  let edit = document.querySelector("#edit");
  let hidden = document.querySelectorAll(".hidden");

  edit.addEventListener("click", ()=>{
    hidden.forEach((element)=>{
      element.classList.remove("hidden");
    })
    // edit.innerHTML = "DONE";
    edit.classList.add("hidden");
  }, ()=>{
    alert("done");
  });

</script>



<%- include("../partials/footer.ejs") %> 
