<%- include("../partials/header.ejs") %> 


<main>
  <div class="container_nav">
    <ul>
      <li><a href="/semesters/<%=semester._id%>/courses"> Courses </a></li>
    </ul>
    <ul>
      <li> <%= course.name %></li>
    </ul>
    <ul>
      <li><a id="edit" href="#">Edit</a></li>

      <li><a class="hidden" href="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades">Done </a></li>
    </ul>
  </div>

  <!-- Calculate Current Grade -->
  <% let currentGrade = 0   %>
  <% let grade        = 0   %>
  <% let divide       = 100 %>
  <% let noGrade      = []  %>

  <section id="grade_display">
    <div class="current_grade">
      <% for(let i = 0; i < course.grades.length; i++){ %>
  
        <% if(typeof course.grades[i].grade === 'undefined'){ %>
            <% console.log("if statement running ")%>
            <% course.grades[i].grade == 0 %>
  
            <% console.log("=== course.grades[i].grade ===  : IF STATEMENT") %>
            <% console.log(course.grades[i].grade) %>
            <% noGrade.push(course.grades[i].weight)  %>
            <% continue;%>
  
        <% } else { %>
          <% currentGrade += ((course.grades[i].grade) * (course.grades[i].weight)) %>
          <% console.log("=== course.grades[i].grade === ") %>
          <% console.log(course.grades[i].grade) %>
        <% } %>
  
      <% } %>
  
    <% console.log("====== NO GRADE ======") %>
    <% console.log(noGrade) %>%>  
  
    <% let sumDivision = noGrade.reduce((a,b)=>{ %>
    <%    return a + b; %>
    <% }, 0)  %>
    <% console.log("SUMDIVISION") %>
    <% console.log(sumDivision) %>
  
    <% sumDivision = ((100 - sumDivision) / 100) %>
    <% console.log("SUMDIVISION") %>
    <% console.log(sumDivision) %>
  
    <% currentGrade = ((currentGrade / divide) / sumDivision) %>
    <% console.log("TOTAL GRADE") %>
    <% console.log(currentGrade) %>

      <p>Current Grade <br /> 
        <span> <%= currentGrade %>  </span> %
      </p>
  
  
    </div>
    <div class="target_grade">
      <p>Target Grade <br /> 

      </p>
    </div>
  </section>


  <!-- Get currentgrade to display on COURSE INDEX ROUTE 
    perhaps put calculations in a function and call it at the end of the loop(callback)
    course.courseGrade.push(currentGrade);
    course.save()
  
  -->

  <!-- TARGET GRADE  -->

  <!--
    final grade = (grade you want - ((1 - weight of exam)) * current grade) / weight of exam
    If current grade input field is empty, add "you need x in order to reach target grade "
  -->

  <section>
    <div class="hidden" id="newBtn">
      <a href="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades/new">
        <i class="fas fa-plus-circle"></i>New Grade
      </a>
    </div>
  </section>

  <!-- ====== CONTAINER ====== -->
    <% course.grades.forEach((grade)=>{ %>

      <!-- Delete Button -->
      <div id="delete" class="hidden">
        <form action="/semesters/<%= semester._id%>/courses/<%=course._id%>/grades/<%=grade._id%>?_method=DELETE" method="POST">
          <button>
            <i class="fas fa-minus-circle"></i>
          </button>
        </form>
      </div>

      <div class="card">
        <div>
          <p class="course_name"> <i class="fas fa-school"></i> <%= grade.assignmentName %></p>
        </div>
        <div>
          <p id="grade"><%= grade.grade %> %</p>
        </div>
      </div>  

      <!-- === UPDATE === Edit a Grade -->

      <div class="hidden" id="courses_container">
        <form id="grade_form" class="hidden" action="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades/<%=grade._id%>?_method=PUT" method="POST">
          <input type="text"  name="grade[assignmentName]" value="<%= grade.assignmentName%>" autocomplete="off">
          <!-- change to grade.weight -->
          <input id="number" type="number"  name="grade[grade]" value="<%= grade.grade%>" autocomplete="off">

          <input id="submit" type="submit">
        </form>
      </div>


    <% }) %>
</main>

<script>
  let edit = document.querySelector("#edit");
  let hidden = document.querySelectorAll(".hidden");
  let number = document.querySelector("#number");
  let grade = document.querySelector("#grade");

  edit.addEventListener("click", ()=>{
    hidden.forEach((element)=>{
      element.classList.remove("hidden");

    })

    edit.classList.add("hidden");
    grade.classList.add("hidden");
  }, ()=>{
    alert("done");
  });

</script>



<%- include("../partials/footer.ejs") %> 
