<%- include("../partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades"> Grades </a></li>
    </ul>
    <ul>
      <li> <%= course.name %></li>
    </ul>
    <ul>
      <li><a href="/semesters">Save </a></li>
    </ul>
  </div>

  <div id="courses_container">
    <form id="main_form" action="/semesters/<%=semester._id%>/courses/<%=course._id%>/grades" method="POST">
      <div>
        <input type="text" placeholder="Grade Name" name="grade[assignmentName]" autocomplete="off">
        <!-- <label>Item Name</label> -->
      </div>
      <div>
        <input type="number" placeholder="Weight" name="grade[weight]" autocomplete="off">
        <!-- <label>Weight</label> -->
      </div>
      <input id="submit" type="submit">
    </form>
  </div>
</main>


<%- include("../partials/footer.ejs") %>  