<%- include("../partials/header.ejs") %> 

<main>
  <div class="container_nav">
    <ul>
      <li><a href="/semesters"> X </a></li>
    </ul>
    <ul>
      <li><a id="edit" href="#.">Edit </a></li>
      <li><a class="hidden" href="/semesters">Done </a></li>
    </ul>
  </div>

  <section> 
    <div class="hidden" id="newBtn">
      <a href="/semesters/new">
        <i class="fas fa-plus-circle"></i>New Semester
      </a>
    </div>


    <!-- ==== EDIT =====   -->

    <% semesters.forEach((semester) =>{ %>

      <!-- Delete Button -->
      <div id="delete" class="hide hidden">
        <form action="/semesters/<%= semester._id%>?_method=DELETE" method="POST">
          <button><i class="fas fa-minus-circle"></i></button>
        </form>
      </div>

      <!-- Semester info -->
      <a class="semesterInfo" href="/semesters/<%=semester._id %>/courses">
        <div class="card">
          <div>
            <p ><%= semester.name%> <%= semester.year %>  </p>
          </div>
        </div>
      </a>
      
      <!-- Edit a semester -->
      <div class="hide hidden" id="courses_container">
        <form class="hide hidden" action="/semesters/<%=semester.id%>?_method=PUT" method="POST">
          <input type="text"  name="semester[name]" value="<%= semester.name%>" autocomplete="off">
          <input type="number"  name="semester[year]" value="<%= semester.year%>" autocomplete="off">
          <input id="submit" type="submit">
        </form>
      </div>
    <% }) %>
  </section>
</main>

<!-- JavaScript -->

<script>
  let edit = document.querySelector("#edit");
  let hidden = document.querySelectorAll(".hidden");
  let semesterInfo = document.querySelectorAll(".semesterInfo");

  edit.addEventListener("click", ()=>{
    hidden.forEach((element)=>{
      element.classList.remove("hidden");
    });

    edit.classList.add("hidden");

    semesterInfo.forEach((semester)=>{
    semester.classList.add("unclickable");
    })
  });

</script>

<%- include("../partials/footer.ejs") %> 
